// Fonts
$font-1: 'Gudea', sans-serif;
$font-2: 'Open Sans', sans-serif;

// Colors
$color-1: #555;
$color-2: #777;

// Background colors
$bk-color-1: #259FA6;
$bk-color-2: #FAFAFA;
$bk-color-3: #F2F2F2;

// Border colors
$bd-color-1: #DDD;

// Indicadores
$ind-color-1: #19A9D5;
$ind-color-2: #6254B2;
$ind-color-3: #F9D21A;
$ind-color-4: #EE3939;
$ind-color-5: #303333;